::-webkit-scrollbar
/* style scroll bar width */

{
	width: 10px;
}

::-webkit-scrollbar-track
/* style scroll bar */

{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb/* style scroll bar */

{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.logo {
	height: 20px;
	margin-right: 5px;
	float: right;
	padding-top: 7px;
}

.menu_float
/* hmb right */

{
	float: left;
	height: 18px;
	width: 20px;
	margin-left: 10px !important;
	margin-top: 18px !important;
	background-color: transparent !important;
	box-shadow: none !important;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 9px;
	border: none !important;
}

.menu-icon
/* hmb-icon */

{
	margin-top: 15px !important;
	width: 25px;
	height: 15px;
	background-color: #444F51 !important;
	border: 0px !important;
}

.menu-icon span
/* hmb-icon */

{
	position: absolute;
	top: 40%;
}

.menu-icon span,

/* hmb-icon */

.menu-icon span:before,

/* hmb-icon */

.menu-icon span:after
/* hmb-icon */

{
	border-radius: 1px;
	height: 3px;
	width: 28px;
	background: white;
	position: relative;
	display: block;
	content: '';
}

.menu-icon span:before
/* hmb-icon */

{
	top: -8px;
}

.menu-icon span:after
/* hmb-icon */

{
	bottom: -5px;
}

.search-footer {
	background-color: #d6d6d6 !important;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}

.search-footer>.panel-collapse>.panel-body {
	padding: 0px;
}

.search-footer-items {
	float: left;
	width: 49.5%;
}

.search-footer-icon {
	color: #d82034;
	margin-left: 50%;
}

.search-footer-icon-text {
	margin-left: 50%;
	font-size: 15px !important;
	font-family: cursive;
	color: #333;
}

.search-footer-border {
	border-right: 1px solid #d82034;
}

.search-sort {
	border: 1px solid grey;
	text-align: center;
	font-family: cursive !important;
	margin-top: 10px;
}

.search-sortby-text {
	border-bottom: 1px solid grey;
	color: #d82034;
}

.search-container {
	margin-top: 15px;
}

.search-distance-slider,
.search-yield-slider {}

.search-distance-slider>tbody>tr>td>.ui-slider-horizontal,
.search-yield-slider>tbody>tr>td>.ui-slider-horizontal {
	margin: 10px;
}

.search-sortby-items,
.search-filter {
	font-family: cursive !important;
	font-size: 12px;
	color: #333 !important;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 10px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background: rgba(165, 42, 42, 0.7);
	margin-top: 35px;
}

.search-list>.ui-datalist-content>.ui-datalist-data {
	list-style: none;
	padding: 0px;
}

.search-list>.ui-datalist-content {
	border: none!important;
}

.search-list-content {
	border: none !important;
	background-color: transparent!important;
	box-shadow: none!important;
}

.search-list-panel {
	height: 152px;
	border: 1px solid rgba(168, 168, 168, 0.52);
	margin-bottom: 5px;
}

.search-list-content>.panel-collapse>.panel-body {
	padding: 0px;
}

.details-page-tab {
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
}

.details-page-tab>li {
	width: 25% !important;
}

.details-panel-content
/* client info- header fields- panel */

{
	font-size: 14px !important;
	font-family: Trebuchet MS !important;
	color: #444F51;
	font-weight: normal!important;
}

.font-black-color {
	color: #333!important;
}

.details-page-container>.tabs-below {
	margin-bottom: 50px;
}

.carousel-image {
	width: 100%;
}

.carousel-roll-image {
	width: 100%;
	height: inherit!important;
}

.map-style {
	width: 100%;
	margin: 25px 0 15px 0;
}

.details-page-tab {
	text-align: center;
}

.details-trade-sls-checkbox>tbody>tr>td {
	border: 1px solid #d2adad;
	margin-right: 5px;
	background-color: rgba(230, 221, 221, 0.7);
	padding-top: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.details-trade-checkbox>.ui-grid-row>.ui-grid-col-4 {
	border: 1px solid #d2adad;
	margin-right: 5px;
	background-color: rgba(230, 221, 221, 0.7);
	padding-top: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.details-trade-checkbox>.ui-grid-row>.ui-grid-col-4>.ui-chkbox {
	margin-top: 2px;
	padding-left: 10px;
}

.search-list>.ui-datalist-content>ul.ui-datalist-data li:nth-child(even) {
	background-color: #f6f6f6;
}

.search-list>.ui-datalist-content>ul.ui-datalist-data li:nth-child(odd) {
	background-color: #fff;
}

.property-search-form {
	width: 80%;
	margin: auto;
}

.property-search-form>.form-group>.input-group>span,
.property-searchbar {
	border-left: none!important;
	border-top: none!important;
	border-right: none!important;
	border-bottom: 2px solid #d82034!important;
	box-shadow: none !important;
	background-color: white;
}


/* css for floating sharing buttons*/

.sticky-container {
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -130px;
	top: 230px;
	width: 210px;
	z-index: 1100;
}

.sticky li {
	list-style-type: none;
	background-color: #fff;
	color: #efefef;
	height: 43px;
	padding: 0px;
	margin: 0px 0px 1px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.sticky li img {
	float: left;
	margin: 5px 4px;
	margin-right: 5px;
}

.sticky li p {
	padding-top: 5px;
	margin: 0px;
	line-height: 16px;
	font-size: 11px;
}

.sticky li p a {
	text-decoration: none;
	color: #2C3539;
}

.sticky li p a:hover {
	text-decoration: underline;
}

.share-image {
	height: 32px;
	width: 32px;
}
